/* ----------------
    Common style 
    ----------------*/
body{
    font-family: 'Poppins', sans-serif;
    
}

/* ----------------
    Header style 
    ----------------*/
    
    .heading-section{
    
        background-color: #161616;
        border-radius: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 50px 139px 50px 140px;
    }
    .heading{
        margin: 111px 106px;
        display: flex;
        flex-direction: column;
    }
.heading-title{
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
    background-color: #161616;
    margin-bottom: 20px;

}
.heading-info{
    font-size: 16px;
    color: #FFFFFF;
}
.heading-link{
    background: #DD0000;
    width: 127px;
color: #FFFFFF;
font-size: 20px;
padding: 16px 25px;
text-decoration: none;
}
.banner{
    
    margin: 33px 79px 0px 24px;
}
.banner img{
    width: 581px;
height: 613px;
    
padding-left: 100px;
}

/* --------------------
    Footer Style 
    -------------------*/
footer{
    display: none;
}