/* ----------------
    Common style 
    ----------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 50px 139px 50px 140px;
}

/* ----------------
    Header style 
    ----------------*/
    
    .heading-section{
        background-color: #161616;
        border-radius: 30px;
        display: flex;
        justify-content: center;
    }
    .heading{
        margin: 111px 106px;
        display: flex;
        flex-direction: column;
    }
.heading-title{
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
    background-color: #161616;
    width: 531px;
    height: 240px;
    margin-bottom: 20px;

}
.heading-info{
    font-size: 16px;
    color: #FFFFFF;
    width: 506px;
    height: 78px;
}
.heading-link{
    background: #DD0000;
    width: 127px;
color: #FFFFFF;
font-size: 20px;
padding: 16px 25px;

text-decoration: none;
}
.banner{
    margin-top: 33px;
    width: 700px;
    position: relative;
}

/* --------------------
    Footer Style 
    -------------------*/
footer{
    display: none;
}